body {
    background-color: lightskyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
}

#games {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 12px;
    align-items: center;
}
    
#actions {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    gap: 12px;
    align-items: center;
}

h1 {
    text-align: center;
    color: blue;
}
    
h2 {
    color: blue;
}

.gameboard {
    display: flex;
}        

.board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 20px;
}

.message {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    border: 3px solid;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
}

#scoretitle {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

#player-one {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

#player-two {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
   
.cardBack {
    background-image: url(./assets/Barn.jpeg);
    background-size: cover;
    opacity: 0.7;
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid white;
    font-size: 64px;
    text-align: center;
}

.flip.card .cardFront {
    transform: rotateY(180deg);
}

.flip.card .cardBack {
    transform: rotateY(0deg);
}